<section id="collaborators" class="collaborators single_page">
<!-- collaborators_area -->
<div class="collaborators_area section_padding">
<!-- container -->
<div class="container">
<!-- row -->
<div class="row">
<div class="col-md-12">
<div class="section_title">
<h2>COLLABORATORS & PARTNERS</h2>
<p class="sub_title">Research institutions and key collaborators</p>
</div>
</div><!-- .col-md-12 -->
</div><!-- end .row -->
<!-- row -->
<div class="row">
<div class="col-md-6">
<div class="collaborator_item" style="margin-bottom: 30px;">
<h4 style="color: #35373e; font-size: 16px; font-weight: 400; margin-bottom: 15px;">Key Collaborators</h4>
<ul style="color: #676767; line-height: 1.8; padding-left: 20px;">
{% include render-markdown-section.html slug="collaborators-key-people" %}
</ul>
</div>
</div>
<div class="col-md-6">
<div class="collaborator_item" style="margin-bottom: 30px;">
<h4 style="color: #35373e; font-size: 16px; font-weight: 400; margin-bottom: 15px;">Collaborating Institutions & Facilities</h4>
<ul style="color: #676767; line-height: 1.8; padding-left: 20px;">
{% include render-markdown-section.html slug="collaborators-institutions" %}
</ul>
</div>
</div>
</div><!-- end row -->
</div><!-- end container -->
</div><!-- end collaborators_area -->
</section><!-- end #collaborators -->