<section id="research" class="about single_page active">
  <div class="about_area section_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section_title">
            <h2>RESEARCH FOCUS</h2>
            <p class="sub_title">RADIO ASTRONOMY, INTERFEROMETRY, AND SCIENTIFIC COMPUTING</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="about_content">
            {% include render-markdown-section.html slug="research-overview" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
