<ul>
    <li class="active"><a href="{{ '/' | relative_url }}" data-home-hash="#home"><span class="lnr lnr-home"></span><p data-i18n="nav.home">Home</p></a></li>
    <li><a href="{{ '/about/' | relative_url }}" data-home-hash="#about"><span class="lnr lnr-user"></span><p data-i18n="nav.about">about me</p></a></li>
    <li><a href="{{ '/resume/' | relative_url }}" data-home-hash="#resume"><span class="lnr lnr-book"></span><p data-i18n="nav.resume">resume</p></a></li>
    <li><a href="{{ '/software/' | relative_url }}" data-home-hash="#software"><span class="lnr lnr-laptop"></span><p data-i18n="nav.software">software</p></a></li>
    <li><a href="{{ '/research/' | relative_url }}" data-home-hash="#research"><span class="lnr lnr-magnifier"></span><p data-i18n="nav.research">research</p></a></li>
    <li><a href="{{ '/publications/' | relative_url }}" data-home-hash="#publications"><span class="lnr lnr-file-empty"></span><p data-i18n="nav.publications">publications</p></a></li>
    <li><a href="{{ '/stats/' | relative_url }}" data-home-hash="#publication-stats"><span class="lnr lnr-chart-bars"></span><p data-i18n="nav.stats">stats</p></a></li>
    <li><a href="{{ '/teaching/' | relative_url }}" data-home-hash="#teaching"><span class="lnr lnr-graduation-hat"></span><p data-i18n="nav.teaching">teaching</p></a></li>
    <li><a href="{{ '/collaborators/' | relative_url }}" data-home-hash="#collaborators"><span class="lnr lnr-users"></span><p data-i18n="nav.collaborators">collaborators</p></a></li>
    <li><a href="{{ '/students/' | relative_url }}" data-home-hash="#students"><span class="lnr lnr-user"></span><p data-i18n="nav.students">students</p></a></li>
    <li><a href="{{ '/join/' | relative_url }}" data-home-hash="#join"><span class="lnr lnr-rocket"></span><p data-i18n="nav.join">join</p></a></li>
    <li><a href="{{ '/service/' | relative_url }}" data-home-hash="#service"><span class="lnr lnr-briefcase"></span><p data-i18n="nav.service">service</p></a></li>
    <li><a href="{{ '/writing/' | relative_url }}" data-home-hash="#writing"><span class="lnr lnr-pencil"></span><p data-i18n="nav.writing">writing</p></a></li>
    <li><a href="{{ '/contact/' | relative_url }}" data-home-hash="#contact"><span class="lnr lnr-envelope"></span><p data-i18n="nav.contact">contact</p></a></li>
</ul>
