---
layout: default
---
{% comment %}
  Full section stack so in-page transitions work after F5 on /about/, /contact/, etc.
  Keep this list in sync with index.html section order.
{% endcomment %}
{% include sections/home.html %}
{% include sections/about.html %}
{% include sections/resume.html %}
{% include sections/publications.html %}
{% include sections/publication_stats.html %}
{% include sections/teaching.html %}
{% include sections/collaborators.html %}
{% include sections/students.html %}
{% include sections/service.html %}
{% include sections/blog.html %}
{% include sections/contact.html %}
